main{
    display: flex;
    width: 100%;
    padding: 0 50px;
    margin-top: 50px;
}

.formulario{
    width: 30%;
}

.listaEmpleados{
    width: 70%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.listaEmpleados div{
    width: 200px;
    margin:10px;
}

 form div{
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
 }

 .empleado{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 10px;
 }